.aboutus{
    .aboutusBody{
        text-align: center;
        // margin: 100px 0 0px;
        p.aboutus_title{
            font-size: 30px;
            font-weight: bold;
            color: red;
            margin: 0 0 50px;
            img{
                width: 150px;
                height: auto;
                &.title_left{
                    padding-right: 30px;
                    margin-top: -9px;
                }
                &.title_right{
                    padding-left: 30px;
                    margin-top: -9px;
                }
            }
        }
        .descr_text{            
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            padding: 0 20px;
            margin: 0 0 50px;
        }
        .commitee_members{
            ul.commitee_members_list{
                list-style: none;
                li{
                    padding: 20px 0;
                    span{
                        display: block;
                        img{
                            width: 250px;
                            height: 250px;
                        }
                        &.member_name {
                            padding: 10px 0 3px;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        &.member_post {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    //Modal Code here
        #profile-grid { 
            overflow: auto; 
            white-space: normal; 
            .profile { 
                padding-bottom: 40px; 
                .panel-default { 
                    border: none; 
                }
                .panel{ 
                    box-shadow: none; 
                    -webkit-box-shadow: none;
                }
            }
            .panel { 
                padding: 0;
            }
            .panel-body { 
                padding: 15px; 
            }
            .profile-name { 
                font-weight: bold; 
            }
            .thumbnail {
                margin-bottom:6px;
            }
            .panel-thumbnail { 
                overflow: hidden; 
            }
            .img-rounded { 
                border-radius: 4px 4px 0 0;
            }
            .img-thumb { 
                width: 200px; 
                height: 200px;
            }
            .thumb {
                .profile_desc, .profile_title{ 
                    display: none;
                }
            }
            .modal-profile.in{
                .modal-dialog.modal-lg{
                    width: 700px;
                    .modal-body{
                        img{
                            width: 360px;
                        }
                    }
                }
            }
        }
    //Modal Code End here
    }
}