#footerComp{
	.footerSection{
		text-align: center;
		.row{
			text-align: center;
			.footSec{
				text-align: center;
				width: 200px;
				height: 150px;
				// background: red;
				position: relative;
				background: url(../images/global/footer_frame.png);
				width: 321px;
			    height: 402px;
			    background-size: 80% 80%;
			    background-repeat: no-repeat;
			    background-position: center;
			    float: none;
    			display: inline-block;
				.temple_hours, .temple_address, .quick_links{
					position: absolute;
				    // font-size: 10px;
				    text-align: center;
				    width: 200px;
	    			top: 110px;
	    			left: 60px;
	    			span{
	    				display: block;
	    			}		
	    			ul{
	    				list-style-type: none;
	    				padding: 0;
	    			}
				}	
			}
		}   
	}	
}
