#footerComp{
	.footerSection{
		.footSec{
			text-align: center;
			width: 200px;
			height: 150px;
			background: red;
			position: relative;
			&:before{
				content: "";
			    position: absolute;
			    top: -50px;
			    left: 0;
			    width: 100px;
			    height: 0px;
			    border-left: 100px solid transparent;
			    border-right: 100px solid transparent;
			    border-bottom: 50px solid red;
			}
			&:after{
				content: "";
			    position: absolute;
			    bottom: -50px;
			    left: 0;
			    width: 0;
			    height: 0;
			    border-left: 100px solid transparent;
			    border-right: 100px solid transparent;
			    border-top: 50px solid red;
			}
			.temple_hours, .temple_address, .quick_links{
				position: absolute;
			    font-size: 10px;
			    text-align: center;
			}	
		}
	}	
}
