
@font-face {
    font-family: 'Marathi-Vakra';
    src: url('../fonts/Marathi-Vakra.eot');
    src: url('../fonts/Marathi-Vakra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Marathi-Vakra.woff2') format('woff2'),
        url('../fonts/Marathi-Vakra.woff') format('woff'),
        url('../fonts/Marathi-Vakra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SHREE-DEV7-0708';
    src: url('../fonts/SHREE-DEV7-0708.eot');
    src: url('../fonts/SHREE-DEV7-0708.woff2') format('woff2'),
        url('../fonts/SHREE-DEV7-0708.woff') format('woff'),
        url('../fonts/SHREE-DEV7-0708.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
	// background: url(../images/global/body_background.png);
	height: auto;
	font-family: 'SHREE-DEV7-0708';	
	background-size: 100% auto;
    padding: 15px;
    position: relative;
}
body::before{
    content: "";
    width: 349px;
    height: calc(100%);
    z-index: 1;
    left: 0;
    // background-size: calc(100%) calc(100%);
    // background-size: auto calc(100%);
    top: 0;
    position: absolute;
}
body::after{
    content: "";
    width: 349px;
    height: calc(100%);
    z-index: 1;
    right: 0;
    // background-size: calc(100%) calc(100%);
    // background-size: auto calc(100%);
    top: 0;
    position: absolute;
}

body.home::before{
    // background: url(../images/global/left_piller.png) no-repeat;
}
body.home::after{
    // background: url(../images/global/right_piller.png) no-repeat;
}
body.history::before, body.contactus::before, body.dengiPage::before, body.galleryPage::before{
    // background: url(../images/global/left_piller1.png) no-repeat;
    background-size: calc(100%) calc(100%);
}

body.aboutus::before{
    // background: url(../images/aboutus/left_piller.png) no-repeat;
    background-size: calc(100%) calc(100%);
}
body.aboutus::after{
    // background: url(../images/aboutus/right_piller.png) no-repeat;
    background-size: calc(100%) calc(100%);
}
body.history::after, body.contactus::after, body.dengiPage::after, body.galleryPage::after{
    // background: url(../images/global/right_piller1.png) no-repeat;
    background-size: calc(100%) calc(100%);
}
