.home{
    // header carousal goes here
    .homeBody{
        .carousel{
            width: 100%;
            margin: 100px auto 0;
            .home_carousal_bottom_left{
                background: url(../images/homepage/header_carousal/home_carousal_bottom_left.png) no-repeat;  
                position: absolute; 
                bottom: -60px; 
                left: 25px;
                height: 134px;
                width: 134px;
            }
            .home_carousal_bottom_right{
                background: url(../images/homepage/header_carousal/home_carousal_bottom_right.png) no-repeat;  
                position: absolute; 
                bottom: -60px; 
                right: 25px;
                height: 134px;
                width: 134px;
            }
            .home_carousal_top_left{
                background: url(../images/homepage/header_carousal/home_carousal_top_left.png) no-repeat;  
                position: absolute; 
                top: -60px;
                left: 25px;
                height: 134px;
                width: 134px;
            }
            .home_carousal_top_right{
                background: url(../images/homepage/header_carousal/home_carousal_top_right.png) no-repeat;  
                position: absolute; 
                top: -60px; 
                right: 25px;
                height: 134px;
                width: 134px;
            }
            .carousel-inner, .carousel-inner2{
                // padding: 50px;
                width: 85%;
                margin: 0 auto;
                .item{
                    img{
                        width:100%;
                    }
                }
            }
          .carousel-control.right, .carousel-control.left {
              background: none;
          }
        }
    // header carousal end here
    
    // event code here
    .upcoming_event{
        text-align: center;
        .upcoming_event_header_title{
            font-size: 30px;
            font-weight: bold;
            color: red;
            margin: 100px 0 50px;
               img {
                  width: 150px;
                  height: auto;
                    &.title_left {
                        padding-right: 30px;
                        margin-top: -9px;
                    }
                    &.title_right {
                        padding-left: 30px;
                        margin-top: -9px;
                    }
                }
        }
        ul.upcoming_event_list{
            list-style: none;
            li{
                span{
                    .cal_img{
                      display: inline-block;
                    }
                }
                p{  
                    display: inline-block;
                    .upcoming_event_title{

                    }
                    .upcoming_event_date{

                    }
                }
            }
        }
    }
    // event code end here


    // Mix gallery Slick Carousal
    .c-slide {
      width: 90%;
      height:auto;
      margin:150px auto;
      overflow: hidden;
      position: relative;
    }
    .slider-nav {
      .slick-slide {
        display: block;
        height: 350px;
        text-align: center;
        // color: white;
      }  
      &.slick-initialized .slick-slide {
        display: inline-block;
      }
    }
    .slider-thumbs {
      display: none;           
      &.slick-initialized {
        display: block;
        // text-align: center;
        & .slick-track {
          position:relative;
          // text-align:center;
        }
        .slick-list {
          margin: 20px -15px;
        }
        .slick-slide {
          display: inline-block;
          float:none;
          // border: 1px solid white;
          margin: 20px 15px;
        }
        .slick-slide {
          height: auto;
          max-width: 100%;
          outline: none;
          // padding:10px;
          background-color:red;
          text-align:center;
          width: 170px; 
          height: 170px;
          //margin-right:0px;
          //margin-left:0px;
        }
        .slick-current {
          // border: 1px solid blue;
        }
      }
    }
    .pre{
      width: 25px !important;
      position: absolute;
      top: 0;
      bottom: 30%;
      left: 0;
      z-index: 2;
      margin: auto;
    }
    .next{
      width: 25px !important;
      position: absolute;
      top: 0;
      bottom: 30%;
      right: 0;
      z-index: 2;
      margin: auto;
    }
    // Mix gallery Slick Carousal code end here

    // Event and guest slick carousal
    .event_guest_div{
      position: relative;
      .eventCarousal,.guestCarousal {
          max-width: 1000px;
          margin: 0 auto;
          // width: 50%;
          overflow: hidden;
          padding: 0;
          top: 60px;
          // margin: 50px 0;
        }
        .divider{
              background: url(../images/homepage/guest_event_divider.png) no-repeat;
              // width: 43px;
              height: 437px;
              // margin: 0 25px;
              background-position: center;
        }
        .slick-slide {
          margin: 0 5px;
        }
        .slick-list {
          margin: 0px -5px 0px -5px;
        }
        button.slick-next, button.slick-next:hover {
          position: absolute;
          top: 41%;
          right: 0px;
          width: 47px;
          height: 75px;
          background: url(../images/homepage/guestEvent_arrow_right.png) no-repeat;
          // background-size: 95px;
          border: none;
          z-index: 2;
          background-position: center;
        }
        
        button.slick-prev, button.slick-prev:hover {
          position: absolute;
          top: 41%;
          left: 0px;
          z-index: 1;
          width: 47px;
          height: 75px;
          background: url(../images/homepage/guestEvent_arrow_left.png) no-repeat;
          // background-size: 95px;
          background-position-x: right;
          border: none;
          background-position: center;
          z-index: 2;
        }
        .slick-prev:before, .slick-next:before {
          font-size: 70px;
          // color: #EA8496;
          line-height: inherit;
          font-weight: bold;
        }
        .eventCarousal img, .guestCarousal img {
          height: 324px;
        }
    }

    // Event and guest slick carousal
  }
}


