@import 'global';
@import 'bootstrap';
@import 'header';
@import 'footer';


// Mix gallery Slick Carousal
.c-slide {
  width: 70%;
  height:auto;
  margin:10px auto;
  overflow: hidden;
}
.slider-nav {
  .slick-slide {
    display: block;
    height: 350px;
    text-align: center;
    color: white;
  }  
  &.slick-initialized .slick-slide {
    display: inline-block;
  }
}
.slider-thumbs {
  display: none;
 	&.slick-initialized {
    display: block;
    // text-align: center;
    & .slick-track {
      position:relative;
      // text-align:center;
    }
    .slick-list {
    	margin: 15 -2px;
  	}
    .slick-slide {
      display: inline-block;
      float:none;
      border: 1px solid white;
      margin: 15px 2px;
    }
    .slick-slide {
      height: auto;
      max-width: 100%;
      outline: none;
      // padding:10px;
	    background-color:red;
	    text-align:center;
	    //margin-right:0px;
	    //margin-left:0px;
    }
    .slick-current {
      border: 1px solid blue;
    }
  }
}
.pre{
  width: 25px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: auto;
}
.next{
  width: 25px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin: auto;
}

// Mix gallery Slick Carousal code end here